:root {
    --accent-color:red;
    --background-color:white;
    --text-color:black;
}

body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    background: rgb(240, 240, 240);
}

span {
    color:var(--accent-color);
}

footer {
    background: var(--text-color);
    color:var(--background-color);
}

aside {
    float:right;
    border-style: inset;
    height: 200px;
    width: 200px;
    background-color: var(--background-color);
}

p {
    margin-top:5px;
    margin-bottom:5px;
}

.table {
    border: 1px solid;
    th {
        border: 1px solid;
    }
    td {
        border: 1px solid;
    }
}

h2 {
    margin-top: 0;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
}

.icon {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.footer-info {
    display: flex;
    justify-content: space-between;
}

.img {
    height: 100px;
    width: 100px;
}
