:root {
    --iframe-width:99.7VW;
    --background-all:LightGray;
    --color-all:grey;
    --color-all-hover:black;
}

body {
    margin:0;
    padding:0;
}

/*section desktop*/
iframe {
    display:inline;
}

.area-additional, .area-additional-top, .area-additional-top-left {
    display: none;
    height: 93VH;
    width: 49VW;
}

.desktop .container {
    width: 100VW;
    height: 93VH;
    margin-bottom:2px;
}

.area-main {
    width:var(--iframe-width);
    height: 93VH;
}
/*section console*/
.console .container {
    position: relative;
    width: 60VW;
}

.menu {
    transform: scaleY(0);
    width: 30VW;
    height: 15VH;
    background: var(--background-all);
    position: absolute;
    top: -14.9VH;
    overflow-y: scroll;
    font-size:2VH;
}

.btn {
    border: none;
    padding: 0;
    background: var(--background-all);
    color: var(--color-all);
    font-size:2VH;
    cursor: pointer;
}

.svg-rect {
    stroke:var(--color-all)
}

.svg-rect-fill {
    fill:var(--color-all);
}

input[name="input_console"] {
    width: 60VW;
    height: 6VH;
    background: var(--background-all);
    border: none;
    font-family: 'Cascadia Mono';
    font-size:4VH;
}
/*Website working*/
input[name="input_console"]:focus{
    outline: 0;
}

.console .container:hover > .menu {
    transform: scaleY(1);
}

.menu_list {
    margin:0;
    padding:0;
}

.menu_list li {
    display: block;
    width: 25VW;
    height: 3VH;
    color: var(--color-all);
    padding: 0VH 1VH 2VH 1VH;
    cursor: pointer;
}

.menu_list a {
    text-decoration: none;
    color: var(--color-all);
}

.menu_list li:hover,a:hover {
    color:var(--color-all-hover);;
}

.btn:hover {
    color:var(--color-all-hover);;
}

.svg:hover .svg-rect {
    stroke:var(--color-all-hover);
}

.svg:hover .svg-rect-fill {
    fill:var(--color-all-hover);
}
