:root {
  --iframe-width: 99.7vw;
  --background-all: LightGray;
  --color-all: grey;
  --color-all-hover: black;
}

body {
  margin: 0;
  padding: 0;
}

/*section desktop*/

.area-additional,
.area-additional-top,
.area-additional-top-left {
  display: none;
  height: 93vh;
  width: 49vw;
}

.desktop .container {
  width: 100vw;
  height: 93vh;
  margin-bottom: 2px;
}

.area-main {
  width: var(--iframe-width);
  height: 93vh;
}
/*section console*/
.console .container {
  position: relative;
  width: 60vw;
}

.menu {
  transform: scaleY(0);
  width: 30vw;
  height: 15vh;
  background: var(--background-all);
  position: absolute;
  top: -14.9vh;
  overflow-y: scroll;
  font-size: 2vh;
}

.btn {
  border: none;
  padding: 0;
  background: var(--background-all);
  color: var(--color-all);
  font-size: 2vh;
  cursor: pointer;
}

.svg-rect {
  stroke: var(--color-all);
}

.svg-rect-fill {
  fill: var(--color-all);
}

input[name='input_console'] {
  width: 60vw;
  height: 6vh;
  background: var(--background-all);
  border: none;
  font-family: 'Cascadia Mono';
  font-size: 4vh;
}
/*Website working*/
input[name='input_console']:focus {
  outline: 0;
}

.console .container:hover > .menu {
  transform: scaleY(1);
}

.menu_list {
  margin: 0;
  padding: 0;
}

.menu_list li {
  display: block;
  width: 25vw;
  height: 3vh;
  color: var(--color-all);
  padding: 0vh 1vh 2vh 1vh;
  cursor: pointer;
}

.menu_list a {
  text-decoration: none;
  color: var(--color-all);
}

.menu_list li:hover,
a:hover {
  color: var(--color-all-hover);
}

.btn:hover {
  color: var(--color-all-hover);
}

.svg:hover .svg-rect {
  stroke: var(--color-all-hover);
}

.svg:hover .svg-rect-fill {
  fill: var(--color-all-hover);
}
