body {
    margin:0;
    padding:0;
}

:root {
    --iframe-width:99.7VW;
}
/*section desktop*/
iframe {
    display:inline;
}

.area-additional, .area-additional-top, .area-additional-top-left {
    display: none;
    height: 93VH;
    width: 49VW;
}

.desktop .container {
    width: 100VW;
    height: 93VH;
    margin-bottom:2px;
}

.area-main {
    width:var(--iframe-width);
    height: 93VH;
}
/*section console*/
.console .container {
    position: relative;
    width: 60VW;
}

.menu {
    transform: scaleY(0);
    width: 30VW;
    height: 15VH;
    background: LightGray;
    position: absolute;
    top: -14.9VH;
    overflow-y: scroll;
    font-size:2VH;
}

.btn {
    border: none;
    padding: 0;
    background: LightGray;
    color: grey;
    font-size:2VH;
    cursor: pointer;
}

input[name="input_console"] {
    width: 60VW;
    height: 6VH;
    background: LightGray;
    border: none;
    font-family: 'Cascadia Mono';
    font-size:4VH;
}
/*Website working*/
input[name="input_console"]:focus{
    outline: 0;
}

.console .container:hover > .menu {
    transform: scaleY(1);
}

.menu_list {
    margin:0;
    padding:0;
}

.menu_list li {
    display: block;
    width: 25VW;
    height: 3VH;
    color: grey;
    padding: 0VH 1VH 2VH 1VH;
    cursor: pointer;
}

.menu_list a {
    text-decoration: none;
    color: grey;
}

.menu_list li:hover,a:hover {
    color: black;
}

.btn:hover {
    color: black;
}
